* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 48px;
  font-family: "Roboto";
  color: #515151;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 92px;
}
h2::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  content: "";
  margin-top: 32px;
}
/*NAVIGATION*/
.navigation {
  font-size: 0px;
  padding-bottom: 31px;
  padding-top: 31px;
}
/*logo*/
.logo {
  float: left;
}
.logo-link {
  /*text-decoration: none;*/
  font-size: 30px;
  color: #0f0101;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 0;
  display: inline-block;
  font-weight: 300;
}
.logo-link::first-letter {
  color: #1abc9c;
  font-weight: 700;
}
/*menu*/
.menu {
  min-width: 450px;
  float: right;
}
.menu li {
  display: inline-block;
}
.menu a {
  font-size: 14px;
  color: #0f0101;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "OpenSans", sans-serif;
}
.menu-link:hover,
.menu-link:focus {
  color: #1abc9c;
}
.menu li:not(:last-child) {
  margin-right: 35px;
}
/*SLIDER*/
.slider {
  margin: auto;
  width: 100%;
  position: relative;
}
/*image slider*/
.slides::before {
  content: "";
  background-color: rgba(0, 0, 2, 0.5);
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}
/*slider buttons*/
.slider-buttonss {
  height: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 80px;
  cursor: pointer;
  z-index: 1;
}
.slider-button {
  background-color: rgba(78, 198, 171, 0.651);
  border: none;
  width: 104px;
  height: 104px;
  font-size: 80px;
  cursor: pointer;
}
.slider-button:hover,
.slider-button:focus {
  background-color: rgba(78, 198, 171, 1);
}
.left-slider-button {
  float: left;
}
.right-slider-button {
  float: right;
}
.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-image {
  height: 600px;
  object-fit: cover;
  width: 100%;
}

.slider-headers {
  display: inline-block;
  width: 790px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-header {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 0;
}
.slider-header1 {
  font-size: 60px;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
}
.slider-header2 {
  font-size: 24px;
  font-weight: 300;
}
/*COLLECTION CONTAINER*/
.collection {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #e9f0fd;
  padding-top: 100px;
  padding-bottom: 98px;
}

.collection-item {
  width: 255px;
  float: left;
  margin: 0px 30px 0px 0px;
  position: relative;
}
.collection-item:nth-child(4n) {
  margin-right: 0px;
}
ul .new-collection-list {
  list-style: none;
  width: 1170px;
  display: block;
}
.collection-item {
  list-style: none;
}
/*collection item name&prices*/
.items-specifications {
  background-color: #323232;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  bottom: 0px;
}
/*product name*/
.n-item {
  width: 186px;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  float: left;
  padding: 5px 0px 9px 14px;
  font-weight: 900;
  font-size: 19px;
}
/*product price*/
.n-price {
  background-color: rgba(230, 230, 235, 0.5);
  text-decoration: none;
  width: 55px;
  height: 40px;
  float: right;
  margin: 0;
  text-align: center;
  padding: 5px 0px 9px 0px;
  font-weight: 900;
  font-size: 19px;
}
/*collection product hover*/
.collection-item:hover .items-specifications {
  background-color: #1abc9c;
}
.collection-item:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.card {
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  margin: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  position: absolute;
}
.navigation-on-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigation-on-card ul {
  margin-bottom: 7px;
}
.button-all {
  display: inline-block;
}
.button-all:not(:last-child) {
  margin-right: 7px;
}
.icon {
  display: inline-block;
  margin: 0;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 47px;
  height: 47px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
}
.icon:not(:last-child) {
  margin-right: 7px;
}
.icon:hover,
.icon:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.add-to-card-button {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: #323232;
  width: 164px;
  height: 48px;
  cursor: pointer;
  font-size: 30px;
}
.add-to-card-button:hover {
  background-color: #1abc9c;
}

.add-to-card-text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.286;
  text-align: center;
  float: right;
  font-weight: 300;
}
/*FOOTER*/
.footer-block {
  height: 88px;
  background-color: #323232;
  font-size: 16px;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  padding: 29px 0px;
  width: 100%;
  margin: 0 auto;
}
.color-text {
  color: #1abc9c;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
